@model List<Category>


    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h3>
                    Category List
                </h3>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Add New Category </a>
            </div> 
        </div>
    </div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <div class="w-75 btn-group" group="role">
                        <a class="btn btn-primary mx-2" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i>Edit
                        </a>
                        <a class="btn btn-danger mx-2" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a>
                    </div>
                </td>
                
            </tr>
        }
    </tbody>
</table>
